@charset "UTF-8";
/* CSS Document */




nav {
	background-color: white; 
	width:100%;
	height: 75px;
	font-family: urbana, sans-serif;
	font-weight: 200;
	
	
	/*made position fixed so nav bar will move with the page*/
}

ul {
	margin: 0;
	padding: 0;
	width: 100%;
	
}

a:link {
	list-style-type: none;
	text-decoration: none;
	color: black;
	/*made text black with a white hover*/
	
}
a:visited {
	color:black;
}
a:hover {
	color: skyblue;
}

li{
	float: left;
	display: block;
	padding: 0 5%;
	line-height: 75px;
	font-size: 25px;
		
}
.slideshow{ 
	width: 100%;
	
}


.about h1 {
	font-family: urbana, sans-serif;
	font-weight: 100;
	padding-left: 40%;
	margin-top: 0;
	

}

.about h2{
	font-size: 40px;
	padding-left: 35%;
	font: aqua;
	font-family: 'Euphoria Script', cursive;
	color: darkorange;
		
}

.about h3{
	font-size: 30px;
	font-family: urbana, sans-serif;
	font-weight: 100;
	margin: 0;
	
}

.about {
	background-color: #e6f2ff;
	margin-top:0;
	margin-bottom: 0;
}

.about p{
	font-size: 25px;
	font-family: 'Crimson Text', serif;
	margin-bottom: 0;
	
}


.exploremore {
	background-image: url(../images/trinview.jpg);
	background-size: cover;
	height: 1000px;
	width: 100%;
	margin-top:0;
	
}
.visitor{
	background:rgba(255,255,255,0.2);
	margin: 0 200px;
	
}
.visitor h4{
	text-align: center;
	font-size: 40px;
	font-family: urbana, sans-serif;
	font-weight: 100;
	color: white;
	padding-top: 10px;
	margin:0;
	
}
.visitor p{
	text-align: center;
	padding:0 20px;
	font-size: 30px;
	font-family: 'Crimson Text', serif;
}
	
/*--Start css for Food.html--*/

	
	
.foodtitle h5 {
	
	color: black;
	font-size:40px;
	padding-right: 5%;	
	margin: 0;
	font-family: 'Crimson Text', serif;
	

}	

.foodtitle p{
	font-size:25px;
	margin: 0;
	font-family: 'Crimson Text', serif;
	
	
}
	
